.new {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;
    .top,
    .bottom {
      padding: 10px;
      margin: 20px;
      display: flex;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      h1 {
        font-size: 20px;
        color: grey;
      }
      .left {
        flex: 1;
        text-align: center;
        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .right {
        flex: 2;
        padding: 0 20px;

        form {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: space-between;

          .selectRoom {
            width: 100%;
            .selectLabel {
              font-size: 16px;
              color: grey;
            }
            select {
                margin-top: 10px;
              width: 100%;
              padding: 5px;
            }
          }
          .formInput {
            width: 40%;
            display: flex;
            flex-direction: column;
            label {
              font-size: 14px;
              color: grey;
              margin-bottom: 5px;
              .icon {
                cursor: pointer;
                color: crimson;
              }
            }
            input {
              width: 100%;
              border-bottom: 1px solid grey;

              padding: 5px;
              outline: none;
            }
          }
          button {
            padding: 10px;
            width: 160px;
            border: none;
            border-radius: 5px;
            background-color: rgb(53, 136, 145);
            color: white;
            font-size: 16px;
            font-weight: 500;
            box-shadow: 2px 4px 10px 1px rgba(231, 171, 73, 0.49);
            cursor: pointer;
            transition: all .3s ease;
            &:hover {
                background-color: wheat;
                color: rgb(53, 136, 145);
                font-weight: bold;
            }
        }
        }
      }
    }
  }
}
